<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recebidos</ion-title>

    <ion-toolbar color="success">
      <ion-grid>
        <ion-row>
          <ion-col>
            <center>
              <ion-icon name="chevron-back-outline"></ion-icon>
            </center>
          </ion-col>
          <ion-col>
            <ion-title>
              <center>
                <h4>Outubro/2020</h4>
              </center>
            </ion-title>
          </ion-col>
          <ion-col>
            <center>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </center>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>


</ion-content>
<ion-footer>
  <ion-fab vertical="bottom" horizontal="end" (click)="chamarFormularioR()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>