<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title script="align:center">Despesas</ion-title>

    <ion-toolbar color="danger">
      <ion-grid>
        <ion-row>
          <!-- <ion-col script="align:center">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-col> -->
          <ion-col>
            <!-- <ion-title script="align:center"> -->
              <!-- <h5>Outubro/2020</h5> -->
              <ion-datetime style="text-align: center; width: auto;" display-format="MMMM / YYYY" [(ngModel)]="mes"
                monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
                (ionChange)="mudaMes()">
              </ion-datetime>
            <!-- </ion-title> -->
          </ion-col>
          <!-- <ion-col>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let lancamento of listaLancamentos" (click)="alterarLancamentoD(lancamento.key)">
      <ion-label>
        <h4>{{lancamento.descricao}}</h4>
        <p>{{lancamento.categoria}}</p>
      </ion-label>
      <h6>{{lancamento.valor}}</h6>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-fab vertical="bottom" horizontal="end" (click)="chamarFormularioD()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>