<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center">
      My Finance
    </ion-title>
  </ion-toolbar>

  <ion-toolbar color="warning">
    <ion-grid>
      <ion-row>
        <!-- <ion-col style="text-align:center"> -->
        <!-- <ion-icon name="chevron-back-outline" (click)="retornaMes()"></ion-icon> -->
        <!-- <ion-icon name="chevron-back-outline" ></ion-icon> -->
        <!-- </ion-col> -->
        <ion-col>
          <!-- <ion-title style="text-align:center"> -->
          <!-- <h6>Outubro/2020</h6> -->
          <!-- <ion-item > -->
          <ion-datetime style="text-align: center; width: auto;" display-format="MMMM / YYYY" [(ngModel)]="mes"
            monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
            (ionChange)="mudaMes()">
          </ion-datetime>
          <!-- </ion-item> -->
          <!-- </ion-title> -->
        </ion-col>
        <!-- <ion-col style="text-align:center"> -->
        <!-- <ion-icon name="chevron-forward-outline" ></ion-icon> -->
        <!-- <ion-icon name="chevron-forward-outline" (click)="avancaMes()"></ion-icon> -->
        <!-- </ion-col> -->
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-text style="text-align:center">
        <h2>Saldo Mês</h2>
        <h4>{{saldoMes | currency:"BRL"}}</h4>
      </ion-text>
    </ion-toolbar>
  </ion-header>

  <ion-card color="success" (click)="chamarRecebidos()">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Recebidos</h2>
          </ion-col>
          <ion-col>
            <h2>{{valorRecebido | currency:"BRL"}}</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <h3>À Receber</h3>
          </ion-col>
          <ion-col>
            <h3>{{valorReceber | currency:"BRL"}}</h3>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <h3>Atrasado</h3>
          </ion-col>
          <ion-col>
            <h3>{{valorAtrasadoReceber | currency:"BRL"}}</h3>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card color="danger" (click)="chamarDespesas()">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Despesas</h2>
          </ion-col>
          <ion-col>
            <h2>{{valorDespesa | currency:"BRL"}}</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <h3>À Pagar</h3>
          </ion-col>
          <ion-col>
            <h3>{{valorPagar | currency:"BRL"}}</h3>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <h3>Atrasado</h3>
          </ion-col>
          <ion-col>
            <h3>{{valorAtrasadoPagar | currency:"BRL"}}</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>