<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Finance
    </ion-title>
  </ion-toolbar>

  <ion-toolbar color="warning">
    <ion-grid>
      <ion-row>
        <ion-col script="align:center">
          <!-- <center> -->
            <ion-icon name="chevron-back-outline"></ion-icon>
          <!-- </center> -->
        </ion-col>
        <ion-col>
          <ion-title script="align:center">
            <!-- <center> -->
              <h4>Outubro/2020</h4>
            <!-- </center> -->
          </ion-title>
        </ion-col>
        <ion-col script="align:center">
          <!-- <center> -->
            <ion-icon name="chevron-forward-outline"></ion-icon>
          <!-- </center> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="warning">
      <!-- <ion-title size="large">Tab 1</ion-title> -->
      <ion-text script="align:center">
        <!-- <center> -->
          <h2>Saldo Mês</h2>
          <h4>R$ {{saldoMes}}</h4>
        <!-- </center> -->
      </ion-text>
    </ion-toolbar>
  </ion-header>

  <ion-card color="success" (click)="chamarRecebidos()">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Recebidos</h2>
          </ion-col>
          <ion-col>
            <h2>R$ {{valorRecebido}}</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <h3>À Receber</h3>
          </ion-col>
          <ion-col>
            <h3>R$ {{valorReceber}}</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card color="danger" (click)="chamarDespesas()">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Despesas</h2>
          </ion-col>
          <ion-col>
            <h2>R$ {{valorDespesa}}</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <h3>À Pagar</h3>
          </ion-col>
          <ion-col>
            <h3>R$ {{valorPagar}}</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>