<ion-header>
  <ion-toolbar>

    <ion-title>ADD Despesa</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="excluirLancamento()">
        <ion-icon name="trash-outline" color="danger"></ion-icon>
      </ion-button>
      <ion-button (click)="salvarLancamento()">
        <ion-icon name="save-outline" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Descrição</ion-label>
    <ion-input [(ngModel)]="lancamento.descricao"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Data</ion-label>
    <ion-datetime [(ngModel)]="lancamento.dataLancamento" cancelText="Cancelar" doneText="Ok" max="2050-12-09" displayFormat="DD/MM/YYYY"
      placeholder="Selecione uma Data"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Valor</ion-label>
    <ion-input type="text" name="valor" [(ngModel)]="lancamento.valor" clearInput placeholder="(R$) Real"
      [brmasker]="{money: true, thousand: ',',  decimalCaracter: '.', decimal: '2'}">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Repetir o Lançamento</ion-label>
    <ion-toggle [(ngModel)]="repetirLancamento" color="success"></ion-toggle>
  </ion-item>
  <ion-item *ngIf="repetirLancamento==true" >
    <ion-label position="floating">Quantidade de vezes?</ion-label>
    <ion-input [(ngModel)]="lancamento.quantidadeVezes" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Pago?</ion-label>
    <ion-toggle [(ngModel)]="lancamento.situacao" color="success"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Categoria</ion-label>
    <ion-select [(ngModel)]="lancamento.categoria" cancelText="Cancelar" interface="action-sheet">
      <ion-select-option value="Alimentação">Alimentação</ion-select-option>
      <ion-select-option value="Casa">Casa</ion-select-option>
      <ion-select-option value="Veículo">Veículo</ion-select-option>
      <ion-select-option value="Outro">Outro</ion-select-option>
    </ion-select>
  </ion-item>

</ion-content>