<ion-header>
  <ion-toolbar>

    <ion-title>ADD Despesa</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="trash-outline" color="danger"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="save-outline" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Descrição*</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Data</ion-label>
    <ion-datetime cancelText="Cancelar" doneText="Ok" max="2050-12-09" displayFormat="DD/MM/YYYY"
      placeholder="Selecione uma Data"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Valor*</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Repetir o Lançamento</ion-label>
    <ion-toggle color="success"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Quantidade de vezes?</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Pago?</ion-label>
    <ion-toggle color="success"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Categoria</ion-label>
    <ion-select cancelText="Cancelar" interface="action-sheet">
      <ion-select-option value="Alimentação">Alimentação</ion-select-option>
      <ion-select-option value="Casa">Casa</ion-select-option>
      <ion-select-option value="Veículo">Veículo</ion-select-option>
      <ion-select-option value="Outro">Outro</ion-select-option>
    </ion-select>
  </ion-item>

</ion-content>