<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card style="text-align:center;">
    <ion-card-content>
      <ion-grid>

        <ion-row>
          <ion-col>
            <h2>APP de Controle Financeiro</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <h2>Apresentado como avaliação de Pós Graduação</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <h2>Desenvolvido por</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <h2>Raphael Corrêa Vicentino</h2>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>


  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>