<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center">
      My Finance
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-text style="text-align:center">
        <h2>Export</h2>
      </ion-text>
    </ion-toolbar>
  </ion-header>

  <ion-card color="success">
    <ion-card-content>
      <ion-grid>

        <ion-row>
          <ion-col>
            <h2>Data inicial</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-datetime style="text-align: center; width: auto;" display-format="DD / MM / YYYY"
              [(ngModel)]="mesAnterior"
              monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
              max="2050-12-09">
            </ion-datetime>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-card color="success">
    <ion-card-content>
      <ion-grid>

        <ion-row>
          <ion-col>
            <h2>Data final</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-datetime style="text-align: center; width: auto;" display-format="DD / MM / YYYY" [(ngModel)]="mes"
              monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
              max="2050-12-09">
            </ion-datetime>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-grid fixed>
    <ion-row >
      <ion-col class="ion-text-center">
        <ion-button  (click)="export()" shape="round">
          Gerar relatório
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-content>
  
    <ion-list>
      <ion-item *ngFor="let lancamento of listaLancamentos" >
        <ion-label>
          <h4>{{lancamento.descricao}}</h4>
          <p>{{lancamento.categoria}}</p>
        </ion-label>
        <h6>{{lancamento.valor | currency:"BRL"}}</h6>
      </ion-item>
    </ion-list>
  
  </ion-content>


  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>